# Set, tuple, and dictionary

## 1. Set

In [2]:
s = {1, 2, "RBS"}
s

{1, 2, 'RBS'}

In [3]:
s[0]

TypeError: 'set' object is not subscriptable

In [4]:
len(s)

3

In [7]:
universities = {'Rutgers', 'NYU', 'Princeton'}

'NYU' in universities

True

In [9]:
l = [1, 2, 3, 3, 2]
s = set(l)
s

{1, 2, 3}

In [14]:
s1 = {1, 3, 5}
s2 = {2, 3, 6, 7}

inter = s1.intersection(s2)
inter

all = s1.union(s2)
all

diff1 = s1.difference(s2)
diff1

diff2 = s2.difference(s1)
diff2

{2, 6, 7}

## 2. Tuple

In [16]:
t = ('a','b','c','d')

t

('a', 'b', 'c', 'd')

In [17]:
a, b = 1, 2

In [18]:
a

1

In [19]:
b

2

In [24]:
def get_quot_rem(x, y):
    return x//y, x%y

x, y = 7,3

_, rem = get_quot_rem(x, y)

In [21]:
quot

2

In [25]:
rem

1

In [27]:
counties = ['MIDDLESEX','MIDDLESEX','SOMERSET']
cities = ['Piscataway','HIGHLAND PARK','FLAGTOWN']
zipcodes = ['08854','08904','08821']
print(list(zip(counties, cities, zipcodes)))

[('MIDDLESEX', 'Piscataway', '08854'), ('MIDDLESEX', 'HIGHLAND PARK', '08904'), ('SOMERSET', 'FLAGTOWN', '08821')]

enumerate

In [28]:
universities = ["Princeton","MIT","Harvard","Stanford"]
print(list(enumerate(universities)))

[(0, 'Princeton'), (1, 'MIT'), (2, 'Harvard'), (3, 'Stanford')]

In [30]:
universities = ["Princeton","MIT","Harvard","Stanford"]

for i, uninversity in enumerate(universities):
    print(i+1, uninversity)

1 Princeton
2 MIT
3 Harvard
4 Stanford

## Dictionary

In [32]:
eng2arabic = {'one':1, 'two': 2, 'three': 3}
eng2arabic

{'one': 1, 'two': 2, 'three': 3}

In [33]:
eng2arabic['four'] = 4

In [34]:
eng2arabic

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [37]:
d = dict()
d['one'] = 1
d['two'] = 2
d

{'one': 1, 'two': 2}

In [38]:
d['one']

1

In [40]:
'one' in d

True

In [45]:
1 in d.values()

True

In [46]:
cities = ['Piscataway','HIGHLAND PARK','FLAGTOWN']
zipcodes = ['08854','08904','08821']

d = dict(zip(cities, zipcodes))

d

{'Piscataway': '08854', 'HIGHLAND PARK': '08904', 'FLAGTOWN': '08821'}

In [47]:
d['Piscataway']

'08854'