# Pandas

From np.array or list

In [19]:
import pandas as pd
import numpy as np

l = np.array([10, 11, 12])

s = pd.Series(l, index=['a', 'b', 'c'])
s

a    10
b    11
c    12
dtype: int64

In [6]:
s['a']

10

In [20]:
s.iloc[0]

10

In [2]:
type(s)

pandas.core.series.Series

from dictionary

In [9]:
d = {'Jack': 90, 'Ben': 80, 'Mary': 75}
d

{'Jack': 90, 'Ben': 80, 'Mary': 75}

In [10]:
pd.Series(d)

Jack    90
Ben     80
Mary    75
dtype: int64

series is ndarray-like

In [11]:
s1 = pd.Series([10, 11, 12])
s2 = pd.Series([2, 3, 4])

s1 + s2

0    12
1    14
2    16
dtype: int64

In [12]:
s1 * s2

0    20
1    33
2    48
dtype: int64

In [13]:
np.log(s1)

0    2.302585
1    2.397895
2    2.484907
dtype: float64

## indexing and slicing

In [14]:
s1 = pd.Series([10, 11, 12])

s[1]

/tmp/ipykernel_19428/1608132110.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

11

In [15]:
s1.iloc[1]

11

In [18]:
s1.iloc[-2:]

1    11
2    12
dtype: int64

## DataFrame

From pd.series

In [28]:
d = {"one": pd.Series([10, 11, 12],index=['a', 'b', 'c']),
     "two": pd.Series([1.2, 2.2, 3.2])
}

df = pd.DataFrame(d)
df

    one  two
a  10.0  NaN
b  11.0  NaN
c  12.0  NaN
0   NaN  1.2
1   NaN  2.2
2   NaN  3.2

In [27]:
d = {"one": pd.Series([10, 11, 12],index=['a', 'b', 'c']),
     "two": pd.Series([1.2, 2.2, 3.2], index=['a', 'b', 'c'])
}

df = pd.DataFrame(d)
df

   one  two
a   10  1.2
b   11  2.2
c   12  3.2

In [25]:
pd.Series([10, 11, 12],index=['a', 'b', 'c'])

a    10
b    11
c    12
dtype: int64

In [26]:
pd.Series([1.2, 2.2, 3.2])

0    1.2
1    2.2
2    3.2
dtype: float64

From dictionary

In [29]:
d = {"one": [10, 11, 12],
     "two": [1.2, 2.2, 3.2]
}

df = pd.DataFrame(d)
df

   one  two
0   10  1.2
1   11  2.2
2   12  3.2

## Write dataframe to a file

In [30]:
df

   one  two
0   10  1.2
1   11  2.2
2   12  3.2

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
df.to_csv('rst.csv')